.about {
    grid-row: 3 / span 1;

    //Grid
    display: grid;
    grid-template-rows: 8rem repeat(3, min-content);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
    justify-items: center;
    align-items: center;

    padding: 7rem 4rem;

    @media only screen and (max-width: $bp-largest) {
        padding: 7rem 8rem 0;
    }
    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 8rem repeat(9, min-content);
        grid-template-columns: 1fr;
    }

    &__header {
        grid-row: 1 / -1;
        grid-column: 1 / span 1;
        color: $color-grey-dark-1;
        @include header;
    }

    &__images {
        &-1 {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
            & img {
                width: 100%;
                border: 1px solid $color-primary-dark;
            }
            @media only screen and (max-width: $bp-large) {
                grid-row: 2 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &-2 {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
            & img {
                width: 100%;
                border: 1px solid $color-primary-dark;
            }
            @media only screen and (max-width: $bp-large) {
                grid-row: 5 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &-3 {
            grid-row: 2 / span 1;
            grid-column: 3 / span 1;
            & img {
                width: 100%;
                border: 1px solid $color-primary-dark;
            }
            @media only screen and (max-width: $bp-large) {
                grid-row: 8 / span 1;
                grid-column: 1 / span 1;
            }
        }
    }

    &__head {
        border: 1px solid $color-primary-dark;
        &-1 {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
            @media only screen and (max-width: $bp-large) {
                grid-row: 3 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &-2 {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
            @media only screen and (max-width: $bp-large) {
                grid-row: 6 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &-3 {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1;
            @media only screen and (max-width: $bp-large) {
                grid-row: 9 / span 1;
                grid-column: 1 / span 1;
            }
        }
    }
    &__description {
        &-1,
        &-2,
        &-3 {
            background-color: $color-grey-light-2;
            color: $color-grey-dark-1;
            font-size: 1.4rem;
            width: 100%;
            padding: 4rem;
            margin: 4rem;
            margin-top: -2rem;
            border: 1px solid $color-primary-dark;
            align-self: start;
        }
        &-1 {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
            @media only screen and (max-width: $bp-large) {
                grid-row: 4 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &-2 {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1;
            @media only screen and (max-width: $bp-large) {
                grid-row: 7 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &-3 {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1;
            @media only screen and (max-width: $bp-large) {
                grid-row: 10 / span 1;
                grid-column: 1 / span 1;
            }
        }
    }
}
