.about {
    grid-row: 2 / span 1;

    &__header {
        background-color: transparent;
        height: 9rem;
        transition: all 0.2s;

        @media only screen and (max-width: $bp-small) {
            //Border Styling
            background-color: $color-grey-dark-1;
            height: 7rem;
        }

        &-scrolled {
            //Border Styling
            background-color: $color-grey-dark-1;
            height: 7rem;
        }
    }

    &__heading {
        @include headings-main;
        background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.7) 10%,
                rgba(0, 0, 0, 0.4) 40%,
                rgba(0, 0, 0, 0.4) 60%,
                rgba(0, 0, 0, 0.7) 90%,
                rgba(0, 0, 0, 1) 100%
            ),
            url(../img/about/about-banner2x.jpg);
        @media only screen and (max-width: $bp-medium) {
            background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0.7) 10%,
                    rgba(0, 0, 0, 0.4) 40%,
                    rgba(0, 0, 0, 0.4) 60%,
                    rgba(0, 0, 0, 0.7) 90%,
                    rgba(0, 0, 0, 1) 100%
                ),
                url(../img/about/about-banner1x.jpg);
        }
    }

    &__box {
        width: 40%;
        margin: 10rem auto 0;
        @media only screen and (max-width: $bp-largest) {
            width: 50%;
        }
        @media only screen and (max-width: $bp-large) {
            width: 70%;
        }
        @media only screen and (max-width: $bp-medium) {
            width: 90%;
        }
    }

    &__image {
        width: 100%;
        object-fit: contain;
        object-position: center center;
        border: 2px solid $color-primary-dark;
    }

    &__head {
        //Styling
        text-transform: uppercase;
        z-index: 2;

        //Spacing
        font-size: 3rem;
        padding: 2rem 0 1.4rem;
        font-weight: 600;
        letter-spacing: 0.4rem;
    }
    &__divider {
        width: 10rem;
        border-top-width: 2px;
        margin: 0 auto 0 0;
        color: $color-secondary;
    }
    &__description {
        color: $color-grey-dark-1;
        font-size: 1.6rem;
        line-height: 3.2rem;
        text-indent: 3rem;
        padding: 8rem 0 10rem;
        @media only screen and (max-width: $bp-medium) {
            line-height: 2.8rem;
            padding: 5rem 0 7rem;
        }
    }
}
