.cta {
    //Parent
    grid-row: 3 / span 1;

    //Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //Spacing
    position: relative;
    z-index: 5;
    height: 50rem;

    //Image Styling
    background-image: linear-gradient(
            to bottom,
            rgba($color-grey-light-1, 1) 0,
            rgba($color-grey-dark-1, 0) 50%,
            rgba($color-grey-dark-1, 1) 99%
        ),
        url(../img/banner.jpg);
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: $bp-medium) {
        //Display
        flex-direction: column;
        justify-content: center;

        //Spacing
        padding: 15rem 0;
    }

    &__header {
        //Spacing
        padding: 0 1rem;
        margin-bottom: 2rem;

        //Font Styling
        font-size: 3rem;
        font-weight: 400;
        text-shadow: 3px 3px 6px #000000;

        //Color Styling
        color: white;

        @media only screen and (max-width: $bp-small) {
            //Spacing
            padding: 2rem;

            //Font Styling
            font-size: 2rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            //Spacing
            padding: 1rem;

            //Font Styling
            font-size: 1.6rem;
        }
    }

    &__form {
        //Display
        display: flex;

        &-input {
            //Spacing
            width: 40rem;
            padding: 0 1.5rem;

            //Color Styling
            background-color: #fff;

            //Border Styling
            border: 0;
            border-radius: 1rem;

            //Animations
            transition: all 0.2s;

            &:active,
            &:focus {
                //Border Styling
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

                //Animations
                transform: translateY(-0.2rem);
            }

            @media only screen and (max-width: $bp-medium) {
                //Spacing
                width: 30rem;
            }
            @media only screen and (max-width: $bp-small) {
                //Spacing
                width: 20rem;

                //Font Styling
                font-size: 1.4rem;
            }
        }
        &-button {
            cursor: pointer;

            //Spacing
            margin-left: 2rem;
            padding: 1rem 2rem;

            //Font Styling
            text-transform: uppercase;

            //Color Styling
            background-color: $color-primary;

            //Border Styling
            border: 0;
            border-radius: 1rem;

            //Animations
            transition: all 0.2s;

            &-text {
                //Font Styling
                font-size: 1.8rem;
                font-weight: 600;

                //Color Styling
                color: $color-light;

                @media only screen and (max-width: $bp-small) {
                    //Font Styling
                    font-size: 1.4rem;
                }
            }

            &:hover {
                //Border Styling
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

                //Animations
                transform: translateY(-0.2rem);
            }
            &:active,
            &:focus {
                //Border Styling
                outline: none;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

                //Animations
                transform: translateY(-0.1rem);
            }
        }
    }
}
