%img-cover {
    background-size: cover;
    background-position: top;
    position: relative;
}

.destinations {
    grid-row: 2 / span 1;

    &__header {
        color: $color-grey-dark-1;
        @include header;
        @media only screen and (max-width: $bp-small) {
            font-size: 3rem;
            grid-column-gap: 1rem;
            width: 120%;
        }
    }

    &__grid {
        display: grid;
        grid-template-rows: 8rem repeat(4, minmax(2rem, 35rem));
        grid-template-columns: repeat(3, minmax(30rem, 55rem));
        grid-row-gap: 5rem;
        grid-column-gap: 3rem;
        padding: 11rem 15rem 5rem;
        justify-content: center;

        @media only screen and (max-width: $bp-large) {
            grid-gap: 3rem;
            width: 100%;
            height: auto;
            padding: 11rem 5rem 5rem;
            grid-template-rows: 8rem repeat(6, minmax(2rem, 45rem));
            grid-template-columns: repeat(2, minmax(30rem, 45rem));
        }
        @media only screen and (max-width: $bp-small) {
            grid-gap: 0;
            padding: 6rem 6rem 0;
            grid-template-rows: 8rem repeat(12, 30rem);
            grid-template-columns: 1fr;
        }

        &-box {
            overflow: hidden;
            @media only screen and (max-width: $bp-small) {
                margin-bottom: -5.5rem;
            }
        }

        .destination {
            position: relative;
            line-height: 1.6rem;
            cursor: default;
            width: 100%;
            height: 100%;

            @media only screen and (max-width: $bp-small) {
                height: 80%;
            }

            &__img {
                grid-row: 1 / 2;
                grid-column: 1 / -1;
                z-index: 1;
                width: 100%;
                height: 100%;

                @media only screen and (max-width: $bp-large) {
                    height: auto;
                }
            }
            &__name {
                width: 100%;
                font-size: 1.8rem;
                text-align: center;
                color: #fff;
                font-weight: 500;
                top: 130%;
                transition: all 0.3s;
                @media only screen and (max-width: $bp-small) {
                    font-size: 3rem;
                }
            }
            &__location {
                color: $color-secondary;
                font-size: 1.6rem;
                font-weight: 400;
                top: 136%;
                transition: all 0.3s;
                @media only screen and (max-width: $bp-small) {
                    top: 139%;
                }
            }
            &__price {
                color: $color-light;
                font-size: 1.3rem;
                top: 118%;
                font-weight: 600;
                transition: all 0.3s;
                @media only screen and (max-width: $bp-small) {
                    top: 115%;
                }
            }
            &__length {
                color: $color-light;
                font-size: 1.3rem;
                top: 122%;
                font-weight: 600;
                transition: all 0.3s;
                @media only screen and (max-width: $bp-small) {
                    top: 120%;
                }
            }
            &__name,
            &__location,
            &__price,
            &__length {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                z-index: 2;
                background-position: center center;

                @media only screen and (max-width: $bp-small) {
                }
            }

            &-1 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/scotland.jpg);
                background-position: center;
                background-size: cover;
                transition: transform ease-in-out 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/scotland.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 3rem;
                }
            }
            &-2 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/italy.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/italy.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-3 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/osaka.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/osaka.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-4 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/queenstown.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/queenstown.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-5 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/jeju.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/jeju.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-6 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/copenhagen.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/copenhagen.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-7 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/costarica.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/costarica.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-8 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/valencia.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/valencia.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-9 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/skopje.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/skopje.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-10 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/hoian.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/hoian.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-11 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/quito.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/quito.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
            &-12 {
                @extend %img-cover;
                background-image: linear-gradient(
                        to bottom,
                        rgba($color-grey-dark-2, 0) 0%,
                        rgba($color-grey-dark-2, 0.7) 100%
                    ),
                    url(../img/washington.jpg);
                transition: all 0.3s;

                &:hover {
                    background-image: linear-gradient(
                            to bottom,
                            rgba($color-grey-dark-2, 0) 0%,
                            rgba($color-grey-dark-2, 0.5) 100%
                        ),
                        url(../img/washington.jpg);
                    transform: scale(1.05);
                }
                &:hover p,
                &:hover h6 {
                    display: none;
                }
                &:hover h5 {
                    font-size: 4rem;
                }
            }
        }
    }
}
