.footer {
    grid-row: 4 / span 1;

    background-color: $color-grey-dark-1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 5;

    &__cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 15rem;

        &-header {
            color: white;
            font-size: 3rem;
            font-weight: 200;
            padding: 0 1rem;
            margin-bottom: 2rem;
            @media only screen and (max-width: $bp-medium) {
                font-size: 2rem;
            }
            @media only screen and (max-width: $bp-smallest) {
                font-size: 1.4rem;
            }
        }
    }
    &__logo-box {
        text-align: center;
        margin: 20rem 6rem 10rem;
    }
    &__logo {
        width: 55rem;
        height: auto;

        @media only screen and (max-width: $bp-medium) {
            width: 35rem;
        }
    }

    &-nav {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, minmax(6rem, 1fr));
        grid-gap: 2rem;
        align-items: center;
        @media only screen and (max-width: $bp-medium) {
            grid-gap: 1rem;
        }

        &__link:link,
        &__link:visited {
            font-size: 1.8rem;
            font-weight: 300;
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            padding: 2rem;
            display: block;
            transition: all 0.2s;

            &:hover,
            &:active {
                background-color: rgba(#fff, 0.03);
                color: $color-primary-light;
                transform: scale(1.05);
            }

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.2rem;
                padding: 1rem;
            }
        }
    }
}

.copyright {
    font-size: 1.3rem;
    color: $color-grey-light-2;
    margin-top: 5rem;
    text-align: center;
}
