.main-gallery {
    //Parent
    grid-row: 2 / span 1;

    //Display
    display: grid;
    grid-template-columns: 1fr;

    //Spacing
    position: relative;

    &__grid-box {
        //Display
        display: grid;
        grid-template-rows: repeat(12, 40vh);
        grid-template-columns: repeat(4, 25vw);

        @media only screen and (max-width: $bp-large) {
            //Display
            grid-template-rows: repeat(24, 30vh);
            grid-template-columns: repeat(2, 50vw);
        }
        @media only screen and (max-width: $bp-small) {
            //Display
            grid-template-rows: repeat(24, 30vh);
            grid-template-columns: repeat(1, 100vw);
        }
    }

    &__heading {
        //Image Styling
        background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.7) 10%,
                rgba(0, 0, 0, 0.4) 40%,
                rgba(0, 0, 0, 0.4) 60%,
                rgba(0, 0, 0, 0.7) 90%,
                rgba(0, 0, 0, 1) 100%
            ),
            url(../img/main-gallery/main-gallery-banner2x.jpg);

        @media only screen and (max-width: $bp-medium) {
            //Image Styling
            background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0.7) 10%,
                    rgba(0, 0, 0, 0.4) 40%,
                    rgba(0, 0, 0, 0.4) 60%,
                    rgba(0, 0, 0, 0.7) 90%,
                    rgba(0, 0, 0, 1) 100%
                ),
                url(../img/main-gallery/main-gallery-banner1x.jpg);
        }
    }

    &__image {
        //Spacing
        position: relative;
        overflow: hidden;
        vertical-align: middle;

        //Animations
        transition: all 0.2s;

        &::after {
            content: '';

            //Spacing
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            //Image Styling
            background-image: linear-gradient(
                rgba($color-grey-dark-2, 0) 0%,
                rgba($color-grey-dark-2, 0) 80%,
                rgba($color-grey-dark-2, 0.6) 90%,
                rgba($color-grey-dark-2, 1) 100%
            );

            //Animations
            transition-delay: 1s;
        }

        &:hover::after {
            //Display
            display: none;
        }

        img {
            //Display
            display: block;

            //Spacing
            width: 100%;
            height: 100%;
            overflow: hidden;

            //Image Styling
            object-fit: cover;

            //Animations
            transition: all 1s;

            &:hover {
                //Animations
                transform: scale(1.1);
            }
        }

        &-title {
            //Spacing
            position: absolute;
            padding: 0 0.5rem;
            margin-left: 1rem;
            z-index: 2;
            left: 0;
            bottom: 3.5rem;

            //Font Styling
            font-size: 2rem;

            //Color Styling
            color: white;

            //Animations
            transition: all 0.2s;
        }

        &-location {
            //Spacing
            position: absolute;
            padding: 0 1rem;
            margin-left: 1rem;
            z-index: 2;
            left: 0;
            bottom: 1.5rem;

            //Font Styling
            font-size: 1.2rem;

            //Color Styling
            color: #eee;

            //Animations
            transition: all 0.2s;
        }

        &:hover &-title {
            //Font Styling
            font-size: 4rem;
        }
        &:hover &-location {
            //Font Styling
            font-size: 2rem;
        }

        &--1 {
            //Parent
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 1 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 1 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--2 {
            //Parent
            grid-row: 1 / span 1;
            grid-column: 3 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 3 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 2 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--3 {
            //Parent
            grid-row: 1 / span 1;
            grid-column: 4 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 3 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 3 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--4 {
            //Parent
            grid-row: 2 / span 2;
            grid-column: 3 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 4 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 4 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--5 {
            //Parent
            grid-row: 3 / span 1;
            grid-column: 1 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 6 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 5 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--6 {
            //Parent
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 6 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 6 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--7 {
            //Parent
            grid-row: 4 / span 2;
            grid-column: 1 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 7 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 7 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--8 {
            //Parent
            grid-row: 4 / span 1;
            grid-column: 3 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 9 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 8 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--9 {
            //Parent
            grid-row: 4 / span 1;
            grid-column: 4 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 9 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 9 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--10 {
            //Parent
            grid-row: 5 / span 2;
            grid-column: 3 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 10 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 10 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--11 {
            //Parent
            grid-row: 6 / span 1;
            grid-column: 1 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 12 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 11 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--12 {
            //Parent
            grid-row: 6 / span 1;
            grid-column: 2 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 12 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 12 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--13 {
            //Parent
            grid-row: 7 / span 2;
            grid-column: 1 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 13 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 13 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--14 {
            //Parent
            grid-row: 7 / span 1;
            grid-column: 3 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 15 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 14 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--15 {
            //Parent
            grid-row: 7 / span 1;
            grid-column: 4 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 15 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 15 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--16 {
            //Parent
            grid-row: 8 / span 2;
            grid-column: 3 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 16 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 16 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--17 {
            //Parent
            grid-row: 9 / span 1;
            grid-column: 1 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 18 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 17 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--18 {
            //Parent
            grid-row: 9 / span 1;
            grid-column: 2 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 18 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 18 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--19 {
            //Parent
            grid-row: 10 / span 2;
            grid-column: 1 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 19 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 19 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--20 {
            //Parent
            grid-row: 10 / span 1;
            grid-column: 3 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 21 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 20 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--21 {
            //Parent
            grid-row: 10 / span 1;
            grid-column: 4 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 21 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 21 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--22 {
            //Parent
            grid-row: 11 / span 2;
            grid-column: 3 / span 2;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 22 / span 2;
                grid-column: 1 / span 2;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 22 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--23 {
            //Parent
            grid-row: 12 / span 1;
            grid-column: 1 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 24 / span 1;
                grid-column: 1 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 23 / span 1;
                grid-column: 1 / span 1;
            }
        }
        &--24 {
            //Parent
            grid-row: 12 / span 1;
            grid-column: 2 / span 1;

            @media only screen and (max-width: $bp-large) {
                //Parent
                grid-row: 24 / span 1;
                grid-column: 2 / span 1;
            }
            @media only screen and (max-width: $bp-small) {
                //Parent
                grid-row: 24 / span 1;
                grid-column: 1 / span 1;
            }
        }
    }
}
