.main-gallery {
    //Parent
    grid-row: 2 / span 1;

    //Display
    display: grid;
    grid-template-columns: 1fr;

    //Spacing
    position: relative;

    //Color Styling
    background-color: $color-grey-dark-1;

    &__grid-box {
        //Display
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        margin: 2rem;

        @media only screen and (max-width: $bp-large) {
            //Display
            grid-template-columns: repeat(3, 1fr);

            grid-gap: 1.5rem;
            margin: 1.5rem;
        }
        @media only screen and (max-width: $bp-small) {
            //Display
            grid-template-columns: repeat(2, 1fr);

            grid-gap: 1rem;
            margin: 1rem;
        }
    }

    &__heading {
        //Image Styling
        background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.7) 10%,
                rgba(0, 0, 0, 0.4) 40%,
                rgba(0, 0, 0, 0.4) 60%,
                rgba(0, 0, 0, 0.7) 90%,
                rgba(0, 0, 0, 1) 100%
            ),
            url(../img/main-gallery/main-gallery-banner2x.jpg);

        @media only screen and (max-width: $bp-medium) {
            //Image Styling
            background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 0.7) 10%,
                    rgba(0, 0, 0, 0.4) 40%,
                    rgba(0, 0, 0, 0.4) 60%,
                    rgba(0, 0, 0, 0.7) 90%,
                    rgba(0, 0, 0, 1) 100%
                ),
                url(../img/main-gallery/main-gallery-banner1x.jpg);
        }
    }

    &__image {
        //Spacing
        position: relative;
        // overflow: hidden;
        vertical-align: middle;

        //Animations
        transition: all 0.4s;

        //Spacing
        overflow: hidden;

        &::after {
            content: '';

            //Spacing
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 25%;
            opacity: 1;
            display: none;

            //Image Styling
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.7) 0%,
                rgba(0, 0, 0, 0.7) 100%
            );
        }

        &:hover::after {
            //Display
            display: inline-block;
        }
        &:hover {
            //Display
            z-index: 100;
        }

        img {
            //Display
            display: block;

            //Spacing
            width: 100%;
            height: 100%;
            overflow: hidden;

            //Image Styling
            object-fit: cover;

            //Animations
            transition: all 0.4s;

            &:hover {
                //Animations
                transform: scale(1.1);
            }
        }

        &-title {
            //Spacing
            position: absolute;
            padding: 0 0.5rem;
            margin-left: 1rem;
            z-index: 2;
            left: 0;
            bottom: 3.5rem;
            display: none;

            //Font Styling
            font-size: 2rem;

            //Color Styling
            color: white;

            //Animations
            transition: all 0.4s;
        }

        &-location {
            //Spacing
            position: absolute;
            padding: 0 1rem;
            margin-left: 1rem;
            z-index: 2;
            left: 0;
            bottom: 1.5rem;
            display: none;

            //Font Styling
            font-size: 1.2rem;

            //Color Styling
            color: #eee;

            //Animations
            transition: all 0.4s;
        }

        &:hover &-title {
            //Font Styling
            display: inline-block;
        }
        &:hover &-location {
            //Font Styling
            display: inline-block;
        }
    }
}
