@mixin header {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    align-self: end;
    justify-self: center;
    text-align: center;

    padding: 0 10rem 4rem;
    font-size: 5rem;
    font-weight: 300;
    transition: all 0.2s;

    //Grid for lines
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        content: '';
        height: 2px;
        display: block;
        background-color: currentColor;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 0 8rem 4rem;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
        padding: 0 2rem 4rem;
    }
}
