@mixin headings-main {
    //Display
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    justify-content: center;

    //Spacing
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 8rem 0;

    //Font Styling
    font-size: 18rem;
    font-weight: 100;

    //Color Styling
    color: white;

    //Image Styling
    background-size: cover;
    background-position: center center;

    &::before,
    &::after {
        content: '';

        //Display
        display: block;

        //Spacing
        height: 2px;

        //Color Styling
        background-color: white;
    }
    @media only screen and (max-width: $bp-large) {
        //Spacing
        padding: 6rem 0;

        //Font Styling
        font-size: 12rem;
    }
    @media only screen and (max-width: $bp-small) {
        //Font Styling
        font-size: 10rem;
    }
    @media only screen and (max-width: $bp-small) {
        //Spacing
        padding: 8rem 0 4rem;

        //Font Styling
        font-size: 8rem;
    }
}

@mixin headings-secondary {
}

@mixin headings-blog {
    //Display
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    justify-content: center;

    //Spacing
    z-index: 2;
    padding: 12rem 0;

    //Font Styling
    font-size: 8rem;
    font-weight: 100;

    //Color Styling
    color: white;

    //Image Styling
    background-size: cover;
    background-position: center center;

    //Animations
    width: 100%;

    &::before,
    &::after {
        content: '';

        //Display
        display: block;

        //Spacing
        height: 2px;

        //Color Styling
        background-color: white;
    }
    @media only screen and (max-width: $bp-large) {
        //Display
        grid-column-gap: 3rem;

        //Spacing
        padding: 14rem 0;

        //Font Styling
        font-size: 6rem;
    }
    @media only screen and (max-width: $bp-medium) {
        //Spacing
        padding: 18rem 0;

        //Font Styling
        font-size: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
        //Display
        grid-column-gap: 2rem;

        //Spacing
        padding: 12rem 0 4rem;

        //Font Styling
        font-size: 4rem;
    }
    @media only screen and (max-width: $bp-smallest) {
        //Font Styling
        font-size: 3.4rem;
    }
}
