.header {
    //Parent
    grid-column: 1 / -1;

    //Display
    display: flex;
    align-items: center;
    justify-content: space-between;

    //Spacing
    position: fixed;
    width: 100%;
    z-index: 20;

    //Font Styling
    text-decoration: none;

    //Color Styling
    background-color: $color-grey-dark-1;
    color: $color-grey-light-1;

    &__logo {
        cursor: pointer;

        //Spacing
        padding-left: 1rem;
        height: 7rem;

        //Animations
        transition: all 0.1s;

        &:hover {
            //Color Styling
            fill: $color-primary-light;

            //Animations
            transform: scale(1.03);
        }

        @media only screen and (max-width: $bp-large) {
            //Spacing
            padding: 0;
        }
        @media only screen and (max-width: $bp-small) {
            //Spacing
            margin-right: 0;
        }
    }

    &__nav {
        //Display
        display: flex;
        justify-content: center;
        align-items: center;

        //Font Styling
        font-size: 1.8rem;
        font-weight: 300;

        & a {
            //Font Styling
            text-decoration: none;

            //Color Styling
            color: $color-grey-light-1;

            //Animations
            transition: all 0.1s;

            &:not(:last-child) {
                //Spacing
                margin-right: 4rem;

                @media only screen and (max-width: $bp-medium) {
                    //Spacing
                    margin-right: 3rem;
                }
                @media only screen and (max-width: $bp-small) {
                    //Spacing
                    margin-right: 0rem;
                }
            }
            &:hover {
                //Color Styling
                color: $color-primary-light;

                //Animations
                transform: scale(1.1);
            }
        }
        @media only screen and (max-width: $bp-medium) {
            //Spacing
            margin-left: 5rem;

            //Font Styling
            font-size: 1.6rem;
        }
        @media only screen and (max-width: $bp-small) {
            //Display
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            //Spacing
            position: fixed;
            width: 120%;
            top: -50%;
            left: -10%;
            height: 35rem;
            z-index: -1;
            margin-left: 0rem;
            padding-top: 7rem;

            //Font Styling
            text-align: center;
            font-weight: 300;
            font-size: 2rem;

            //Color Styling
            background-color: $color-grey-dark-1;
            color: $color-grey-light-1;

            //Border Styling
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

            //Animations
            transition: 0.6s ease-out;

            &.active {
                //Spacing
                top: 0rem;
            }
        }

        & * {
            & a {
                //Spacing
                margin-right: 6rem;

                //Font Styling
                font-size: 1.4rem;

                //Animations
                transition: all 0.1s;

                //Color Styling
                color: $color-primary;

                @media only screen and (max-width: $bp-small) {
                    //Spacing
                    width: 100%;
                    margin: auto;

                    //Color Styling
                    color: $color-primary-dark;

                    //Font Styling
                    font-size: 2.5rem;
                }
            }
        }
    }

    &__links {
        //Display
        display: flex;
        align-items: center;

        //Spacing
        padding-right: 2rem;
        margin-left: 16rem;

        //Color Styling
        fill: $color-grey-light-1;

        & > * {
            //Display
            display: flex;
            align-items: center;

            //Spacing
            padding: 0 0.8rem;
            height: 100%;
        }

        &--icon-box {
            //Spacing
            position: relative;

            @media only screen and (max-width: $bp-small) {
                //Spacing
                position: absolute;
            }
        }

        &--icon {
            cursor: pointer;

            //Spacing
            height: 1.5rem;
            width: 1.5rem;

            //Animations
            transition: all 0.1s;

            &-reddit:hover {
                //Color Styling
                fill: #ff4500;

                //Animations
                transform: scale(1.2);
            }
            &-snapchat:hover {
                //Color Styling
                fill: #fffc00;

                //Animations
                transform: scale(1.2);
            }
            &-twitter:hover {
                //Color Styling
                fill: #1da1f2;

                //Animations
                transform: scale(1.2);
            }
            &-facebook:hover {
                //Color Styling
                fill: #1877f2;

                //Animations
                transform: scale(1.2);
            }
            &-instagram:hover {
                //Color Styling
                fill: #e4405f;

                //Animations
                transform: scale(1.2);
            }

            @media only screen and (max-width: $bp-small) {
                //Display
                display: none;

                //Spacing
                width: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            //Spacing
            margin-left: 0;

            & > * {
                //Spacing
                padding: 0 0.5rem;
            }
        }
    }

    &__hamburger {
        //Display
        display: none;

        @media only screen and (max-width: $bp-small) {
            cursor: pointer;

            //Display
            display: block;

            //Spacing
            margin: auto 3rem;
            z-index: 20;
        }

        & .bar {
            //Display
            display: block;

            //Spacing
            width: 4rem;
            height: 1px;
            margin: 8px auto;

            //Color Styling
            background-color: white;

            //Animations
            transition: all 0.3s ease-in-out;
        }

        &.active {
            & .bar:nth-child(2) {
                //Image Styling
                opacity: 0;
            }

            & .bar:nth-child(1) {
                //Animations
                transform: translateY(9px) rotate(45deg);
            }

            & .bar:nth-child(3) {
                //Animations
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
}
