.header {
    grid-column: 1 / -1;
    width: 100%;

    position: fixed;
    z-index: 20;
    background-color: $color-grey-dark-1;
    color: $color-grey-light-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

    &__logo {
        padding-left: 1rem;
        height: 7rem;
        transition: all 0.1s;
        cursor: pointer;

        &:hover {
            fill: $color-primary-light;
            transform: scale(1.03);
        }

        @media only screen and (max-width: $bp-large) {
            padding: 0;
        }
        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 300;
        & a {
            color: $color-grey-light-1;
            text-decoration: none;
            transition: all 0.1s;
            &:not(:last-child) {
                margin-right: 4rem;
                @media only screen and (max-width: $bp-medium) {
                    margin-right: 3rem;
                }
                @media only screen and (max-width: $bp-small) {
                    margin-right: 0rem;
                }
            }
            &:hover {
                color: $color-primary-light;
                transform: scale(1.1);
            }
        }

        @media only screen and (max-width: $bp-large) {
        }
        @media only screen and (max-width: $bp-medium) {
            margin-left: 5rem;
            font-size: 1.6rem;
        }
        @media only screen and (max-width: $bp-small) {
            margin-left: 0rem;
        }

        @media only screen and (max-width: $bp-small) {
            //Display
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            //Spacing
            position: fixed;
            width: 120%;
            top: -50%;
            left: -10%;
            height: 26rem;
            z-index: -1;

            //Font Styling
            text-align: center;
            font-weight: 300;
            font-size: 2rem;

            //Color Styling
            background-color: $color-grey-dark-1;
            color: $color-grey-light-1;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

            //Animations
            transition: 0.6s ease-out;

            &.active {
                //Spacing
                top: 6.9rem;
            }
        }

        & * {
            & a {
                //Spacing
                margin-right: 6rem;

                //Font Styling
                font-size: 1.4rem;

                //Animations
                transition: all 0.1s;

                //Color Styling
                color: $color-primary;

                @media only screen and (max-width: $bp-small) {
                    //Spacing
                    width: 100%;
                    margin: auto;

                    //Color Styling
                    color: $color-primary-dark;

                    //Font Styling
                    font-size: 2.5rem;
                }
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        fill: $color-grey-light-1;
        padding-right: 2rem;
        margin-left: 16rem;

        & > * {
            padding: 0 0.8rem;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &--icon-box {
            position: relative;
            @media only screen and (max-width: $bp-small) {
                position: absolute;
            }
        }

        &--icon {
            height: 1.5rem;
            width: 1.5rem;
            cursor: pointer;
            transition: all 0.1s;

            &-reddit:hover {
                fill: #ff4500;
                transform: scale(1.2);
            }
            &-snapchat:hover {
                fill: #fffc00;
                transform: scale(1.2);
            }
            &-twitter:hover {
                fill: #1da1f2;
                transform: scale(1.2);
            }
            &-facebook:hover {
                fill: #1877f2;
                transform: scale(1.2);
            }
            &-instagram:hover {
                fill: #e4405f;
                transform: scale(1.2);
            }

            @media only screen and (max-width: $bp-small) {
                display: none;
                width: 0;
            }
        }

        @media only screen and (max-width: $bp-large) {
        }
        @media only screen and (max-width: $bp-medium) {
            margin-left: 0;
            & > * {
                padding: 0 0.5rem;
            }
        }
    }

    &__hamburger {
        //Display
        display: none;

        @media only screen and (max-width: $bp-small) {
            cursor: pointer;

            //Display
            display: block;

            //Spacing
            margin: auto 3rem;
            z-index: 20;
        }

        & .bar {
            //Display
            display: block;

            //Spacing
            width: 4rem;
            height: 1px;
            margin: 8px auto;

            //Color Styling
            background-color: white;

            //Animations
            transition: all 0.3s ease-in-out;
        }

        &.active {
            & .bar:nth-child(2) {
                //Image Styling
                opacity: 0;
            }

            & .bar:nth-child(1) {
                //Animations
                transform: translateY(9px) rotate(45deg);
            }

            & .bar:nth-child(3) {
                //Animations
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
}
