%heading {
    font-weight: 400;
}

.heading-3 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-light;
    background-color: $color-grey-dark-1;
    padding: 1rem 4rem;
    margin-top: -2rem;
    letter-spacing: 0.4rem;
    z-index: 2;
    @media only screen and (max-width: $bp-largest) {
        margin-top: -3rem;
    }
}

.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}
