.main-heading {
    //Location
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    align-self: end;
    justify-self: center;
    text-align: center;

    //Grid for lines
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    justify-content: center;

    //Spacing
    padding: 0 10rem 4rem;
    font-size: 5rem;
    font-weight: 300;

    //Lines
    &::before,
    &::after {
        content: '';
        height: 2px;
        display: block;
        background-color: currentColor;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 0 8rem 4rem;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
        padding: 0 2rem 4rem;
    }
}

.secondary-heading {
    //Location
    grid-column: 1 / -1;

    //Grid for lines
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    justify-content: center;

    //Spacing
    padding: 0 10rem;
    font-size: 2.6rem;
    font-weight: 200;
    height: 6rem;

    //Styling
    font-style: italic;
    color: $color-grey-dark-1;
    overflow: hidden;

    //Lines
    &::after,
    &::before {
        content: '';
        height: 1px;
        display: block;
        background-color: currentColor;
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-column-gap: 1rem;
    }
}

.terrtiary-heading {
    //Styling
    text-transform: uppercase;
    color: $color-light;
    background-color: $color-grey-dark-1;
    z-index: 2;

    @media only screen and (max-width: $bp-largest) {
        margin-top: -3rem;
    }
}

.btn {
    //Spacing
    font-size: 1.5rem;
    padding: 1.8rem 3rem;

    //Styling
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}
