---
layout: 'base.html'
eleventyComputed:
    canonical: 'https://www.minimalistnomad.world/{{ pageName }}'
    description: "{{ blogDescription }}"
    metaTitle: '{{ blogTitle }}'
    tagTitle: '{{ titleTag }}'
---

{% block preload %}
<link rel="preload" as="image" href="{{ image }}">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/local.css">
{% endblock %}



<!-- ============================================ -->
<!--           DO NOT FORMAT THIS PAGE            -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->
<div class="container container__blog-post">
<section id="int-hero">
    <h1>{{ blogTitle }}</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="{{ imageSmall }}">
        <source media="(min-width: 601px)" srcset="{{ image }}">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" width="400" height="662">
    </picture>
  </section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
<!--Main content -->
<div class="main-content">
    <!-- ============================================ -->
    <!--                  Blog Article                -->
    <!-- ============================================ -->

    <article class="blog-article">
    <!--Main Article Image-->
    <picture class="blog-mainImage">
        <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async" />
    </picture>
    <!--Article Info-->
    <div class="article-group">
        <h1 class="blog-h1">{{ blogTitle }}</h1>
        <div class="blog-authorGroup">
        <!--Author Image-->
        <picture class="blog-author-img">
            <img
            src="/assets/images/logo.png"
            alt="house"
            width="32"
            height="32"
            decoding="async"
            />
        </picture>
        <span class="blog-author">Will Kimble</span>
        <span aria-hidden="true" class="blog-dot"></span>
        <!--Blog Date-->
        <span class="blog-date">{{ date | postDate }}</span>
        <span class="blog-tag">#{{ blogTag }}</span>
        </div>
    </div>
    <section id="blog-content">
        {{ content | safe }}
    </section>
    </article>
</div>
<!-- End .main-content -->

<!-- ============================================ -->
<!--                   Sidebar                    -->
<!-- ============================================ -->

{% include 'featured-post.html' %}
</div>
<div class="cta">
    <h4 class="cta__header revealLeft">Don't miss a thing <span class="cta__header-single">and
        subscribe to my newsletter</span><span class="cta__header-double">Subscribe to my newsletter</span></h4>
    <form class="cta__form revealLeft" id="form" action="#">
        <input class="cta__form-input" name="email" id="email" type="email" placeholder="Enter your email address"
            required />
        <button for="email" type="submit" class="cta__form-button">
            <span class="cta__form-button--text">Submit</span>
            <svg class="cta__form-button--icon">
                <use xlink:href="#icon-circle-right">
                    <symbol id="icon-circle-right" viewBox="0 0 32 32">
                        <path
                            d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13z">
                        </path>
                        <path d="M11.086 22.086l2.829 2.829 8.914-8.914-8.914-8.914-2.828 2.828 6.086 6.086z">
                        </path>
                    </symbol>
                </use>
            </svg>
        </button>
    </form>
</div>