---
layout: 'base.html'
description: "About the Minimalist Nomad Blog"
metaTitle: "Minimalist Nomad"
tagTitle: "Minimalist Nomad"
permalink: 'about/'
---

<!-- 
This is to pre load any image above the fold (hero section background).
-->

{% block preload %}
<!-- <link rel="preload" as="image" href="/assets/images/landing.jpg"> -->
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/local.css">

<!--Defer loading the whole page css-->
<link rel="stylesheet" href="/css/local.css" media="print" onload="this.media='all'; this.onload=null;">
{% endblock %}

<!-- End of templating -->

<!-- ============================================ -->
<!--                 About Section                -->
<!-- ============================================ -->

<div class="container container__about">

    <section id="about" class="about">
        <h1 class="main-heading about__heading">About Me</h1>
        <div class="about__box">
            <img class="about__image revealFade" src="../assets/images/about/gear.jpg" alt="Backpack">
            <h3 class="about__head revealFade">My gear</h3>
            <hr class="about__divider revealFade">
            <div class="about__description revealFade">
                <p>When it comes to traveling, having the right gear can make all the difference. As an avid traveler
                    myself, I always ensure that I have the necessary equipment to make my trips as comfortable and
                    enjoyable as possible. Here are some of my go-to gear items that I never leave home without:
                </p><br>
                <ol>
                    <li><b>My Backpack</b> - I always bring a sturdy backpack that can hold all of my essentials,
                        including my camera, snacks, water bottle, and any other items I may need throughout the day. I
                        recommend investing in a quality backpack that is comfortable to wear for long periods of time.
                    </li><br>
                    <li><b>My Camera</b> - I love to capture my travels through photography, so a high-quality camera is
                        a must for me. Whether you prefer a traditional DSLR or a mirrorless camera, make sure to bring
                        a camera that you are comfortable using and that produces high-quality images.</li><br>
                    <li><b>Comfortable shoes</b> - When exploring a new destination, you can expect to do a lot of
                        walking. That's why comfortable shoes are essential for any trip. I always bring a pair of
                        comfortable sneakers that can withstand long walks and hikes.</li><br>
                    <li><b>A Portable charger</b> - In today's world, we rely heavily on our electronic devices, and a
                        dead battery can quickly put a damper on any trip. I always bring a portable charger to keep my
                        phone and other devices charged up and ready to go.</li><br>
                    <li><b>A Wifi Hotspot</b> - Staying connected while on the road is important to many travelers,
                        myself included. That's why I always pack a portable wifi hotspot in my gear. A wifi hotspot
                        provides a reliable internet connection, allowing me to stay connected with loved ones, work
                        remotely, and access important information no matter where I am. With a compact and affordable
                        hotspot device, I can easily create a secure and private wifi network that can connect multiple
                        devices. This is especially useful when traveling in areas where wifi networks may be unreliable
                        or unavailable. With a wifi hotspot in my gear, I have peace of mind knowing that I can stay
                        connected and productive while on the road.</li>
                </ol>
            </div>
            <img class="about__image revealFade" src="../assets/images/about/budget.jpg" alt="Checkbook">
            <h3 class="about__head revealFade">My budget</h3>
            <hr class="about__divider revealFade">
            <div class="about__description revealFade">
                <p>Traveling on a budget doesn't mean sacrificing experiences. As a frugal traveler, I have found that
                    with careful planning and a bit of flexibility, it is possible to have amazing travel experiences
                    without breaking the bank. Here are some tips that I use to keep my travel expenses low:
                </p><br>
                <ol>
                    <li><b>Research, research, research</b> - Before embarking on any trip, I always do my research. I
                        look for the best deals on flights, accommodations, and activities, and I read reviews to make
                        sure that I am getting the most value for my money.
                    </li><br>
                    <li><b>Travel during the off-season</b> - One of the easiest ways to save money while traveling is
                        to travel during the off-season. Not only are prices lower for flights, accommodations, and
                        activities, but there are also fewer crowds, making for a more peaceful and authentic
                        experience.</li><br>
                    <li><b>Eat like a local</b> - I talk about this further in my blog but dining out can quickly add
                        up, especially in popular tourist destinations. To save money, I try to eat like a local. I seek
                        out street food or local markets for affordable and authentic cuisine. I also pack snacks to
                        avoid expensive convenience store purchases.</li><br>
                    <li><b>Use public transportation</b> - Instead of renting a car or taking taxis, I use public
                        transportation to get around. This not only saves money but also provides a unique opportunity
                        to experience local culture.</li><br>
                    <li><b>Stay in budget-friendly accommodations</b> - From hostels to Airbnb to capsule hotels, there
                        are plenty of budget-friendly accommodations available. By choosing to stay in these types of
                        accommodations, I can save money without sacrificing comfort and convenience.</li>
                </ol>
            </div>
            <img class="about__image revealFade" src="../assets/images/about/philosophy.jpg" alt="Waterfall">
            <h3 class="about__head revealFade">My philosophy</h3>
            <hr class="about__divider revealFade">
            <div class="about__description revealFade">
                <p>My philosophy when it comes to travel is all about being minimal and exploring. I believe that the
                    best travel experiences are those that are unencumbered by excessive baggage and material
                    possessions. By minimizing my possessions and focusing on the essentials, I am free to explore new
                    places and immerse myself in local culture.
                </p><br>
                <p>For me, travel is not about accumulating souvenirs or ticking off bucket list items. It's about
                    experiencing new things, meeting new people, and gaining a deeper understanding of the world around
                    me. I strive to travel light and pack only the essentials, which allows me to be more agile and
                    spontaneous when it comes to my travel plans.
                </p><br>
                <p>One of my favorite ways to explore a new place is to simply wander aimlessly. Whether it's strolling
                    through a local market, hiking a nearby trail, or getting lost in a city's winding streets, I find
                    that the best experiences often come from taking the road less traveled. By embracing uncertainty
                    and being open to new experiences, I am able to fully immerse myself in the culture and beauty of
                    the places I visit.
                </p><br>
                <p>Ultimately, my philosophy when it comes to travel is all about simplicity, exploration, and
                    connection. By being minimal and open to new experiences, I am able to connect with people and
                    places in a more authentic and meaningful way. Whether I'm traveling to a new city or a remote
                    corner of the world, I always approach my travels with an open mind and a spirit of adventure.
                </p><br>
                <h3>Just get out there and go</h3>
            </div>
        </div>
    </section>
    <div class="cta">
        <h4 class="cta__header revealLeft">Don't miss a thing and subscribe to my newsletter</h4>
        <form class="cta__form revealRight" id="form" action="#">
            <input class="cta__form-input" name="email" id="email" type="email" placeholder="Enter your email address"
                required />
            <button for="email" type="submit" class="cta__form-button">
                <span class="cta__form-button-text">Submit</span>
            </button>
        </form>
    </div>

</div>