/*-- -------------------------- -->
<---        Grid Gallery        -->
<--- -------------------------- -*/

.grid-gallery {
  //Parent
  grid-row: 3 / span 1;

  //Display
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(8, 1fr);
  grid-gap: 1.4rem;

  //Spacing
  padding: 4rem 1.4rem;

  //Color Styling
  background-color: var(--color-grey-dark-1);

  @media only screen and (max-width: 75em) {
    //Display
    grid-template: 8rem repeat(11, 1fr) / repeat(4, 1fr);
  }

  @media only screen and (max-width: 56.25em) {
    //Display
    grid-gap: 0.8rem;

    //Spacing
    padding: 4rem 0.8rem;
  }

  &__item {
    &--1 {
      //Display
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }
    &--2 {
      //Display
      grid-row: 1 / span 3;
      grid-column: 3 / span 3;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 1 / span 2;
      }
    }
    &--3 {
      //Display
      grid-row: 1 / span 2;
      grid-column: 6 / span 1;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 8 / span 2;
        grid-column: 2 / span 1;
      }
    }
    &--4 {
      //Display
      grid-row: 1 / span 2;
      grid-column: 7 / span 2;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 8 / span 2;
        grid-column: 3 / span 2;
      }
    }
    &--5 {
      //Display
      grid-row: 3 / span 3;
      grid-column: 1 / span 2;
    }
    &--6 {
      //Display
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 3 / span 2;
        grid-column: 4 / span 1;
      }
    }
    &--7 {
      //Display
      grid-row: 4 / span 1;
      grid-column: 5 / span 1;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 8 / span 1;
        grid-column: 1 / span 1;
      }
    }
    &--8 {
      //Display
      grid-row: 3 / span 2;
      grid-column: 6 / span 2;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 10 / span 2;
        grid-column: 1 / span 2;
      }
    }
    &--9 {
      //Display
      grid-row: 3 / span 3;
      grid-column: 8 / span 1;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 3 / span 2;
        grid-column: 3 / span 1;
      }
    }
    &--10 {
      //Display
      grid-row: 6 / span 2;
      grid-column: 1 / span 1;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 9 / span 1;
        grid-column: 1 / span 1;
      }
    }
    &--11 {
      //Display
      grid-row: 6 / span 2;
      grid-column: 2 / span 2;

      @media only screen and (max-width: 75em) {
        //Display
        grid-column: 1 / span 2;
      }
    }
    &--12 {
      //Display
      grid-row: 6 / span 2;
      grid-column: 4 / span 1;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 5 / span 3;
        grid-column: 3 / span 2;
      }
    }
    &--13 {
      //Display
      grid-row: 5 / span 3;
      grid-column: 5 / span 3;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 10 / span 2;
        grid-column: 4 / span 1;
      }
    }
    &--14 {
      //Display
      grid-row: 6 / span 2;
      grid-column: 8 / span 1;

      @media only screen and (max-width: 75em) {
        //Display
        grid-row: 10 / span 2;
        grid-column: 3 / span 1;
      }
    }
  }

  &__img {
    //Display
    display: block;

    //Spacing
    width: 100%;
    height: 100%;

    //Image Styling
    object-fit: cover;
  }
}

.cta {
  //Parent
  grid-row: 3 / span 1;

  //Display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //Spacing
  position: relative;
  z-index: 2;
  height: 50rem;

  //Image Styling
  background-image: linear-gradient(
      to bottom,
      rgba(#cad0c8, 1) 0,
      rgba(#272c26, 0) 50%,
      rgba(#272c26, 1) 99%
    ),
    url(../assets/images/banner.jpg);
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 56.25em) {
    //Display
    flex-direction: column;
    justify-content: center;

    //Spacing
    padding: 15rem 0;
  }

  &__header {
    //Spacing
    padding: 0 1rem;
    margin-bottom: 2rem;

    //Font Styling
    font-size: clamp(18px, 3.5vw, 4rem);
    font-weight: 400;
    text-shadow: -1px 1px 2px #000;
    text-align: center;

    //Color Styling
    color: white;

    @media only screen and (max-width: 37.5em) {
      //Spacing
      padding: 2rem;

      //Font Styling
      // font-size: 2rem;
    }
    @media only screen and (max-width: 31.25em) {
      //Spacing
      padding: 1rem;

      //Font Styling
      // font-size: 1.6rem;
    }
  }

  &__form {
    //Display
    display: flex;

    &-input {
      //Spacing
      width: 40rem;
      padding: 0 1.5rem;

      //Color Styling
      background-color: #fff;

      //Border Styling
      border: 0;
      border-radius: 1rem;

      //Animations
      transition: all 0.2s;

      &:active,
      &:focus {
        //Border Styling
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        //Animations
        transform: translateY(-0.2rem);
      }

      @media only screen and (max-width: 56.25em) {
        //Spacing
        width: 30rem;
      }
      @media only screen and (max-width: 37.5em) {
        //Spacing
        width: 20rem;

        //Font Styling
        font-size: 1.4rem;
      }
    }
    &-button {
      cursor: pointer;

      //Spacing
      padding: 1.2rem 4rem;
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      //Color Styling
      background-color: rgba(#272c26, 0.8);
      color: white;

      //Border Styling
      border: 2px solid white;
      border-radius: 60px;
      box-shadow: -4px 4px 1px rgba(#000, 0.3);
      text-shadow: -2px 2px 1px #000000;

      //Animations
      transition: all 0.2s;

      &:hover {
        //Border Styling
        box-shadow: -6px 6px 3px rgba(#000, 0.5);

        //Animations
        transform: scale(1.05) translatex(0.6rem);
      }

      &--text {
        //Font Styling
        font-size: clamp(16px, 1.8vw, 2.6rem);
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
      }

      &--icon {
        //Display
        display: inline-block;
        margin-left: 1.5rem;

        //Spacing
        width: 3rem;
        height: 3rem;

        //Color Styling
        fill: white;
        overflow: visible;
      }
    }
  }
}

.cta-dark {
  //Parent
  grid-row: 4 / span 1;

  //Display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  //Spacing
  position: relative;
  z-index: 5;
  height: 30rem;

  //Image Styling
  background-color: #272c26;
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 56.25em) {
    //Display
    flex-direction: column;
    justify-content: center;

    //Spacing
    padding: 15rem 0;
  }

  &__header {
    //Spacing
    padding: 0 1rem;
    margin-bottom: 2rem;

    //Font Styling
    font-size: clamp(18px, 3.5vw, 4rem);
    font-weight: 400;
    text-shadow: -2px 2px 1px #000000;
    text-align: center;

    //Color Styling
    color: white;

    @media only screen and (max-width: 37.5em) {
      //Spacing
      margin-bottom: 1rem;
      padding: 1rem;
    }
    @media only screen and (max-width: 31.25em) {
      //Spacing
      padding: 1rem;
    }
  }

  &__form {
    //Display
    display: flex;

    @media only screen and (max-width: 37.5em) {
      //Display
      flex-direction: column;
    }

    &-input {
      //Spacing
      width: 40rem;
      padding: 0 1.5rem;

      //Color Styling
      background-color: #fff;

      //Border Styling
      border: 0;
      border-radius: 10px;

      //Animations
      transition: all 0.2s;

      &:active,
      &:focus {
        //Border Styling
        box-shadow: 0 10px 4px rgba(#000, 0.5);

        //Animations
        transform: translateY(-0.2rem);
      }

      @media only screen and (max-width: 56.25em) {
        //Spacing
        width: 40rem;
      }
      @media only screen and (max-width: 37.5em) {
        //Spacing
        height: 6rem;

        //Font Styling
        font-size: 1.4rem;
      }
    }
    &-button {
      cursor: pointer;

      //Spacing
      padding: 1.2rem 4rem;
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      //Color Styling
      background-color: rgba(#272c26, 0.8);
      color: white;

      //Border Styling
      border: 2px solid white;
      border-radius: 60px;
      box-shadow: -4px 4px 1px rgba(#000, 0.3);
      text-shadow: -2px 2px 1px #000000;

      //Animations
      transition: all 0.2s;

      &:hover {
        //Border Styling
        box-shadow: -6px 6px 3px rgba(#000, 0.5);

        //Animations
        transform: scale(1.05) translatex(0.6rem);
      }

      &--text {
        //Font Styling
        font-size: clamp(16px, 1.8vw, 2.6rem);
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
      }

      &--icon {
        //Display
        display: inline-block;
        margin-left: 1.5rem;

        //Spacing
        width: 3rem;
        height: 3rem;

        //Color Styling
        fill: white;
        overflow: visible;
      }

      @media only screen and (max-width: 56.25em) {
        //Spacing
        padding: 1rem 2rem;
        margin-left: 2rem;

        &--icon {
          //Spacing
          width: 2.4rem;
          height: 2.4rem;
          margin-left: 1.5rem;
        }
      }
      @media only screen and (max-width: 37.5em) {
        //Spacing
        padding: 0.8rem 1.4rem;
        margin: 2rem 0 0;
      }
    }
  }
}
